<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<style>
    input[type=checkbox]:checked {
        background-color: rgba(29, 103, 42, 1) !important;
    }

    body {
        background-image: linear-gradient(rgba(18, 42, 66, .65), rgba(18, 42, 66, .65)), url('/img/fondo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <div class="container py-5 h-100 vh-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5 text-uppercase">Sistema de control de inventario</h3>

                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <svg class="icon" width="20" height="20" fill="currentColor">
                                    <use xlink:href="/icons/bootstrap-icons.svg#person-fill" />
                                </svg>
                            </span>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="username" placeholder="Usuario" autocomplete="fals">
                                <label style="background-color: transparent;" for="user">Usuario</label>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <svg class="icon" width="20" height="20" fill="currentColor">
                                    <use xlink:href="/icons/bootstrap-icons.svg#key-fill" />
                                </svg>
                            </span>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" placeholder="Contaseña">
                                <label for="password">Contaseña</label>
                            </div>
                            <button class="btn btn-outline-primary" type="button" onclick="showpassword()">
                                <svg class="icon" width="20" height="20" fill="currentColor">
                                    <use id="icon-use" xlink:href="/icons/bootstrap-icons.svg#eye-slash-fill" />
                                </svg>
                            </button>
                        </div>
                        <div class="d-grid mx-auto">
                            <button class="btn btn-primary" type="button" onclick="aunth()">Iniciar Sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="danger-message" class="alert alert-danger w-auto position-fixed bottom-0 end-0 me-3">
        <strong>¡Atención!</strong> Usuario y/o contraseña incorrectos
    </div>
</body>
<script>
    $('#danger-message').fadeOut(1);
    function aunth() {
        fetch(`/authadmin/${document.getElementById('username').value}/${document.getElementById('password').value}`, { method: 'POST' }).then(res => res.json())
            .then(element => {
                console.log(element);
                if (element.message == "Worng") {
                    $('#danger-message').fadeIn(1000);
                    setTimeout(function () {
                        $('#danger-message').fadeOut(1000);
                    }, 3000);
                } else if (element.message == "Pass") {
                    location.replace('/panel');
                }
            });
    }
    function showpassword() {
        var icon = document.getElementById('icon-use');
        var password = document.getElementById("password");
        if (password.type === "password") {
            password.type = "text";
            icon.setAttribute('xlink:href', '/icons/bootstrap-icons.svg#eye-fill');
        } else {
            password.type = "password";
            icon.setAttribute('xlink:href', '/icons/bootstrap-icons.svg#eye-slash-fill');
        }
    }
</script>

</html>