<%- include("partials/_headerpanel") %>
    <div class="col d-flex flex-column h-sm-100 pt-3 vh-100">
        <div class="row overflow-auto">
            <div class="container">
                <h4>
                    <span class="badge bg-primary">
                        <svg class="icon" width="20" height="20" fill="white">
                            <use xlink:href="/icons/bootstrap-icons.svg#speedometer2" />
                        </svg>
                    </span> Dashboard
                </h4>
                <br>
                <div class="row row-cols-1 row-cols-lg-4">
                    <div class="col">
                        <div class="card mx-2 my-2 text-white bg-success">
                            <div class="row g-0">
                                <div class="col-md-4 align-self-center p-1">
                                    <svg class="icon" width="80" height="80" fill="white">
                                        <use xlink:href="/icons/bootstrap-icons.svg#people-fill" />
                                    </svg>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Proveedores</h5>
                                        <p class="card-text fs-1 fw-bold">22</p>
                                        <p class="card-text"><small>Última actualización hace 3 minutos</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mx-2 my-2 bg-danger text-white">
                            <div class="row g-0">
                                <div class="col-md-4 align-self-center p-1">
                                    <svg class="icon" width="80" height="80" fill="white">
                                        <use xlink:href="/icons/bootstrap-icons.svg#box-fill" />
                                    </svg>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Productos</h5>
                                        <p class="card-text fs-1 fw-bold">1.5k</p>
                                        <p class="card-text"><small>Última actualización hace 3 minutos</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mx-2 my-2 text-white bg-primary">
                            <div class="row g-0">
                                <div class="col-md-4 align-self-center p-1">
                                    <svg class="icon" width="80" height="80" fill="white">
                                        <use xlink:href="/icons/bootstrap-icons.svg#person-fill" />
                                    </svg>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title">Clientes</h5>
                                        <p class="card-text fs-1 fw-bold">250</p>
                                        <p class="card-text"><small>Última actualización hace 3 minutos</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h4>
                    <span class="badge bg-primary">
                        <svg class="icon" width="20" height="20" fill="white">
                            <use xlink:href="/icons/bootstrap-icons.svg#calendar2-check" />
                        </svg>
                    </span> Actividades recientes
                </h4>
                <br>
                <div class="table-wrapper">
                    <table class="table table-hover fl-table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>