<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pedidos</title>
</head>
<style>
    .loader {
        width: 100%;
        position: absolute;
        z-index: 9999;
        background-color: #ffffff;
        height: 100%;
        border-radius: 5%;
    }

    .loader-wheel {
        animation: spin 1s infinite linear;
        border: 2px solid rgba(30, 30, 30, 0.5);
        border-left: 4px solid #59ab6e;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        position: relative;
        left: 47%;
        top: 47%;
    }

    .loader-text {
        color: #59ab6e;
        font-family: arial, sans-serif;
        position: relative;
        left: 47%;
        top: 47%;
    }

    .loader-text:after {
        content: 'Cargando';
        animation: load 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes load {
        0% {
            content: 'Cargando';
        }

        33% {
            content: 'Cargando.';
        }

        67% {
            content: 'Cargando..';
        }

        100% {
            content: 'Cargando...';
        }
    }
</style>

<body>
    <%- include("partials/_headerpanel") %>
        <%- include("partials/_sidebarpanel") %>
            <main id="main" class="main">

                <div class="pagetitle">
                    <h1>Pedidos</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                            <li class="breadcrumb-item">Reportes</li>
                            <li class="breadcrumb-item active">Pedidos</li>
                        </ol>
                    </nav>
                </div>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="search" placeholder="Buscar"
                                                    value="">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="bi bi-search"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group mb-3">
                                                <input type="date" class="form-control" id="date" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container-fluid mt-2 p-0">
                                        <div class="table-wrapper">
                                            <table
                                                class="fl-table table table-sm table-hover text-center fl-table tablesort w-100"
                                                id="datatable">
                                                <thead>
                                                    <tr class="text-light" style="background-color: #59ab6e;">
                                                        <th>#</th>
                                                        <th>FECHA</th>
                                                        <th>CLIENTE</th>
                                                        <th>TOTAL</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </main>
            <div class="modal fade" id="tag" tabindex="-1" aria-labelledby="exampleModalLabel" arhide="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="formtag">
                            <div class="modal-body">
                                <label for="" class="form-label">Producto</label>
                                <input type="text" class="form-control mb-2" id="productoinput" readonly>
                                <label for="" class="form-label">Tag</label>
                                <input id="taginput" type="number" name="tag" class="form-control mb-2"
                                    placeholder="Ingrese un Tag" readonly>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" id="asignar">Asignar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="delete_producto" tabindex="-1" aria-labelledby="exampleModalLabel"
                arhide="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar producto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">¿Estás seguro de que deseas eiminar este producto?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button class="btn btn-danger" id="eliminar">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="detalle_producto" tabindex="-1" aria-labelledby="pedido" arhide="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="pedido">Pedido #</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="loader" id="loader">
                            <div class="loader-wheel"></div>
                            <div class="loader-text"></div>
                        </div>
                        <div class="modal-body">

                            <div class="table-wrapper">
                                <table class="fl-table table table-sm table-hover text-center fl-table tablesort w-100"
                                    id="datatablepedidos">
                                    <thead>
                                        <tr class="text-light" style="background-color: #59ab6e;">
                                            <th></th>
                                            <th>IMAGEN</th>
                                            <th>PRODUCTO</th>
                                            <th>PRECIO</th>
                                            <th>CANTIDAD</th>
                                            <th>TOTAL</th>
                                            <th>ESTADO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="checkbox" class="btn-check" id="example-select-all" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="example-select-all">Seleccionar
                                todos</label><br>
                            <button class="btn btn-danger" id="cancelar" onclick="cancelar()">Cancelar pedidos</button>
                            <button class="btn btn-primary" id="aprobar" onclick="aprobar()">Aprobar pedidos</button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/_fotterpanel") %>
                <script>
                    var tabla;
                    var pedidos;
                    var id_pedido;
                    $(document).ready(function () {
                        tabla = $('#datatable').dataTable({
                            ajax: {
                                url: '/obtener_pedidos',
                                type: 'POST',
                            },
                            dom: 'Bfrtip',
                            columns: [
                                { data: 'id_pedido', defaultContent: "-" },
                                { data: 'fecha', defaultContent: "-" },
                                { data: 'nombre_usuario', defaultContent: "-" },
                                {
                                    data: 'total',
                                    render: function (data) {
                                        return (data !== null) ? "$" + data : "-";
                                    }
                                }
                            ],
                            order: [[0, 'desc']],
                            columnDefs: [
                                {
                                    targets: "_all",
                                    className: "dt-center",
                                },
                                {
                                    targets: 1,
                                    render: function (data, type, row, meta) {
                                        if (type === 'display' || type === 'filter') {
                                            return new Date(data).toLocaleDateString();
                                        }
                                        return data;
                                    }
                                },
                                {
                                    targets: 4,
                                    render: function (data, type, row, meta) {
                                        return `<button class="btn btn-primary btn-sm" onclick="detalle_pedidos(${row.id_pedido})"><i class="bi bi-eye-fill"></i></button>`;
                                    }
                                },
                            ],
                            "language": {
                                "sEmptyTable": "No hay datos disponibles en la tabla",
                                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                                "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                                "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
                                "sInfoPostFix": "",
                                "sInfoThousands": ",",
                                "sLengthMenu": "Mostrar _MENU_ entradas",
                                "sLoadingRecords": "Cargando...",
                                "sProcessing": "Procesando...",
                                "sSearch": "Buscar:",
                                "sZeroRecords": "No se encontraron resultados",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                "buttons": {
                                    "copy": "Copiar",
                                    "colvis": "Visibilidad"
                                }
                            }
                        });
                        $("#datatable_filter").hide();
                        $('#search').keyup(function () {
                            table = $('.tablesort').DataTable();
                            table.search($(this).val()).draw();
                        });
                        $('#date').change(function () {
                            table = $('.tablesort').DataTable();
                            table.search($(this).val()).draw();
                        });
                        $('#actualizar').click(async function () {
                            await tabla.ajax.reload()
                        });
                        $('#productos').change(function () {
                            tabla.ajax.reload();
                        });
                    });

                    $('#example-select-all').on('click', function () {
                        var rows = pedidos.rows({
                            'search': 'applied'
                        }).nodes();
                        $('input[type="checkbox"]', rows).prop('checked', this.checked);
                        if (this.checked) {
                            pedidos.rows().select();
                        } else {
                            pedidos.rows().deselect();
                        }
                    });
                    pedidos = $('#datatablepedidos').DataTable({
                        ajax: {
                            url: '/obtener_detalle_pedidos',
                            type: 'POST',
                            data: {
                                id_pedido: id_pedido,
                            }
                        },
                        searching: false,
                        bLengthChange: false,
                        info: false,
                        paging: false,
                        select: {
                            style: 'multi',
                            selector: 'td:first-child input[type="checkbox"]'
                        },
                        drawCallback: async function (settings, json) {
                            $('#loader').css('display', 'none');
                        },
                        autoWidth: true,
                        columns: [
                            { data: 'img', defaultContent: "-" },
                            { data: 'id_pedido', defaultContent: "-" },
                            { data: 'nombre_producto', defaultContent: "-" },
                            {
                                data: 'precio', render: function (data) {
                                    return (data !== null) ? "$" + data : "-";
                                }
                            },
                            { data: 'cantidad', defaultContent: "-" },
                            {
                                data: 'total',
                                render: function (data) {
                                    return (data !== null) ? "$" + data : "-";
                                }
                            },
                            { data: 'estado', defaultContent: "-" },
                        ],
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="bi bi-clipboard"></i> Copiar',
                                className: 'btn btn-primary btn-sm text-light'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="bi bi-file-excel"></i>Exportar Excel',
                                className: 'btn btn-primary btn-sm text-light'
                            }
                        ],
                        columnDefs: [
                            {
                                targets: "_all",
                                className: "dt-center",
                            },
                            {
                                targets: 0,
                                searchable: false,
                                orderable: false,
                                className: 'dt-body-center',
                                'render': function (data, type, full, meta) {
                                    return '<input type="checkbox" class="form-check-input border-success" style="width:15px;height:15px;">';
                                }
                            },
                            {
                                targets: 1,
                                render: function (data, type, row, meta) {
                                    return `<img src="${row.img}" style=" width: 100%;height: 80px;object-fit: contain;object-position: center;">`;
                                }
                            },
                            {
                                targets: 6,
                                render: function (data, type, row, meta) {
                                    var estado = row.estado;
                                    var badgeClass = '';

                                    switch (estado) {
                                        case 'Aprobado':
                                            badgeClass = 'badge bg-success';
                                            break;
                                        case 'Cancelado':
                                            badgeClass = 'badge bg-danger';
                                            break;
                                        case 'Pendiente':
                                            badgeClass = 'badge bg-warning text-black';
                                            break;
                                        default:
                                            badgeClass = 'badge bg-secondary';
                                    }
                                    return '<span class="badge rounded-pill ' + badgeClass + '">' + estado + '</span>';
                                }
                            }
                        ],
                        "language": {
                            "sEmptyTable": "No hay datos disponibles en la tabla",
                            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                            "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                            "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ",",
                            "sLengthMenu": "Mostrar _MENU_ entradas",
                            "sLoadingRecords": "Cargando...",
                            "sProcessing": "Procesando...",
                            "sSearch": "Buscar:",
                            "sZeroRecords": "No se encontraron resultados",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad"
                            }
                        }
                    });
                    pedidos.on('select', function () {
                        var selectedRows = pedidos.rows({ selected: true }).count();
                        var totalRows = pedidos.rows().count();
                        if (selectedRows === totalRows) {
                            $("#example-select-all").prop('checked', true);
                        }
                    });
                    pedidos.on('deselect', function (e, dt, type, indexes) {
                        if (type === 'row' && indexes.length == 1) {
                            $("#example-select-all").prop('checked', false);
                        }
                    });
                    $("#datatable_filter").hide();
                    $('#search').keyup(function () {
                        table = $('.tablesort').DataTable();
                        table.search($(this).val()).draw();
                    });
                    $('#date').change(function () {
                        table = $('.tablesort').DataTable();
                        table.search($(this).val()).draw();
                    });
                    $('#actualizar').click(async function () {
                        await tabla.ajax.reload()
                    });
                    $('#productos').change(function () {
                        tabla.ajax.reload();
                    });

                    function aprobar() {
                        var seleccionados = [];
                        pedidos.rows({
                            selected: true
                        }).every(function () {
                            seleccionados.push(this.data().id_detalle_pedido);
                        });
                        if (seleccionados != 0) {
                            pedidos.clear().draw();
                            $('#loader').css('display', 'block');
                            fetch("/aprobar_pedidos", {
                                method: 'POST',
                                body: JSON.stringify({ seleccionados }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }).then(response => response.json()).then(data => {
                                Swal.fire({
                                    toast: true,
                                    position: 'bottom-end',
                                    icon: data.type,
                                    text: data.message,
                                    showConfirmButton: false,
                                    timerProgressBar: true,
                                    timer: 3000
                                }).then((result) => {
                                    pedidos.ajax.reload();
                                })
                                $("#example-select-all").prop('checked', false);

                            }).catch(error => {
                                console.error(error);
                            })
                        } else {
                            Swal.fire({
                                toast: true,
                                position: 'bottom-end',
                                icon: 'error',
                                text: 'No se ha seleccionado ningún elemento',
                                showConfirmButton: false,
                                timerProgressBar: true,
                                timer: 3000
                            })
                        }
                    }

                    function cancelar() {
                        var seleccionados = [];
                        pedidos.rows({
                            selected: true
                        }).every(function () {
                            seleccionados.push(this.data().id_detalle_pedido);
                        });
                        if (seleccionados != 0) {
                            pedidos.clear().draw();
                            $('#loader').css('display', 'block');
                            fetch("/cancelar_pedidos", {
                                method: 'POST',
                                body: JSON.stringify({ seleccionados }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }).then(response => response.json()).then(data => {
                                Swal.fire({
                                    toast: true,
                                    position: 'bottom-end',
                                    icon: data.type,
                                    text: data.message,
                                    showConfirmButton: false,
                                    timerProgressBar: true,
                                    timer: 3000
                                }).then((result) => {
                                    pedidos.ajax.reload();
                                })
                                $("#example-select-all").prop('checked', false);

                            }).catch(error => {
                                console.error(error);
                            });
                        } else {
                            Swal.fire({
                                toast: true,
                                position: 'bottom-end',
                                icon: 'error',
                                text: 'No se ha seleccionado ningún elemento',
                                showConfirmButton: false,
                                timerProgressBar: true,
                                timer: 3000
                            })
                        }
                    }
                    async function detalle_pedidos(params) {
                        pedidos.clear().draw();
                        $('#loader').css('display', 'block');
                        var configuracionPedidos = pedidos.settings();
                        $("#detalle_producto").modal("show");
                        $("#pedido").text("Pedido #" + params);
                        if (configuracionPedidos) {
                            configuracionPedidos[0].ajax.data.id_pedido = params;
                            pedidos.ajax.reload();
                        }
                        console.log(pedidos.ajax.data);
                        pedidos.ajax.reload();
                    }
                </script>

</body>

</html>