<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Recuperar</title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
</head>
<style>
    body {
        background-image: linear-gradient(rgba(18, 42, 66, .65), rgba(18, 42, 66, .65)), url('/img/fondo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <section class="section register vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-center pt-4">
                                <a href="/admin" class="logo d-flex align-items-center w-auto">
                                    <img src="/img/logo.png" alt="">
                                    <span class="d-none d-lg-block text-uppercase">Consultagro S.A</span>
                                </a>
                            </div>
                            <div class="form-floating mb-3 mt-3">
                                <input type="password" class="form-control" id="password-nuevo" placeholder=" "
                                    name="contrasena" required>
                                <label style="color: #59ab6e;" for="password-nuevo"><i class="bi bi-key"></i>
                                    Nueva contraseña <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password-confirm" placeholder=" "
                                    required>
                                <label style="color: #59ab6e;" for="password-confirm"><i class="bi bi-key"></i> Repita
                                    su contraseña <font class="text-danger">*</font></label>
                                <div class="invalid-feedback">Campo obligatorio</div>
                            </div>
                            <div class="col-12">
                                <a class="btn btn-primary w-100" href="/">Ir al inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>