<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inventario</title>
</head>
<body>
    <%- include("partials/_headerpanel") %>
        <%- include("partials/_sidebarpanel") %>
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Gestionar usuarios</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                            <li class="breadcrumb-item">Seguridad</li>
                            <li class="breadcrumb-item active">Gestionar usuarios</li>
                        </ol>
                    </nav>
                </div>

                <section class="section">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="input-group mb-3">
                                        <form class="form-floating">
                                            <input type="text" class="form-control" id="search" placeholder="Buscar"
                                                value="">
                                            <label for="search">Buscar</label>
                                        </form>
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="bi bi-search"></i></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container-fluid mt-2">
                                        <div class="table-wrapper">
                                            <table
                                                class="fl-table table table-sm table-hover text-center tablesort w-100"
                                                id="datatable">
                                                <thead class="text-light" style="background-color: #59ab6e;">
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Usuario</th>
                                                        <th>Identificacion</th>
                                                        <th>Correo</th>
                                                        <th>Teléfono</th>
                                                        <th>Provincia</th>
                                                        <th>Ciudad</th>
                                                        <th>Dirección</th>
                                                        <th>Perfil</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editModalLabel">Editar usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formulario">
                                <div class="card mb-3 border-0">
                                    <div class="row g-0">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="nombre"
                                                                placeholder="Ingese su nombre" required>
                                                            <label for="nombre">Nombre</label>
                                                        </div>
                                                    </div>
                                                    <div class=" col-12">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="usuario"
                                                                placeholder="Ingese su nombre de usuario" required>
                                                            <label for="usuario">Usuario</label>
                                                        </div>
                                                    </div>
                                                    <div class=" col-12">
                                                        <div class="form-floating">
                                                            <input type="number" class="form-control" id="identificacion"
                                                                placeholder="Ingese su número de Cédula/RUC" required>
                                                            <label for="identificacion">Cédula/RUC</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <input type="email" class="form-control" id="correo"
                                                                placeholder="Ingese su correo" required>
                                                            <label for="correo">Correo</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <select name="categoria" class="form-select"
                                                                id="provincias">
                                                                <option selected disabled >Provincias</option>
                                                            </select>
                                                            <label for="floatingSelect">Selecione una provincia</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="editcategoria" class="form-label">Ciudad</label>
                                                        <div class="form-floating">
                                                            <select name="categoria" class="form-select" id="ciudades">
                                                                <option selected disabled >Ciudades</option>
                                                            </select>
                                                            <label for="floatingSelect">Selecione una ciudad</label>
                                                        </div>
                                                    </div>
                                                    <div class=" col-12">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="direccion"
                                                                placeholder="Ingese su direccion" required>
                                                            <label for="direccion">Dirección</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <select name="categoria" class="form-select" id="perfiles">
                                                            </select>
                                                            <label for="floatingSelect">Selecione un perfil</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">¿Estás seguro de que deseas eiminar este usuario?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" href="">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="cambiar_contasena_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar Contaseña</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"><label class="form-label" for="nueva_contrasena">Nueva
                                contraseña</label><input class="form-control" type="password" name="nueva_contrasena"
                                id="nueva_contrasena"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="">Guardar cambios</a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("partials/_fotterpanel") %>
                <script>
                    $(document).ready(function () {
                        var provinciasSelect = document.getElementById("provincias");
                        fetch("/obtener_provincias", {
                            method: "POST"
                        })
                            .then(function (response) {
                                return response.json();
                            })
                            .then(function (data) {
                                if (data.data !== null) {
                                    data.data.forEach(function (provincia) {
                                        var option = document.createElement("option");
                                        option.value = provincia.id_provincia;
                                        option.text = provincia.provincia;
                                        provinciasSelect.appendChild(option);
                                    });
                                }
                            })
                            .catch(function (error) {
                                console.error("Error:", error);
                            });
                        var ciudadesSelect = document.getElementById("ciudades");
                        provinciasSelect.addEventListener("change", function () {
                            var provinciaId = this.value;
                            ciudadesSelect.innerHTML = "";
                            fetch("/obtener_ciudades", {
                                method: "POST",
                                body: JSON.stringify({ provinciaId: provinciaId }),
                                headers: {
                                    "Content-Type": "application/json"
                                }
                            })
                                .then(function (response) {
                                    return response.json();
                                })
                                .then(function (data) {
                                    if (data.data !== null) {
                                        data.data.forEach(function (ciudad) {
                                            var option = document.createElement("option");
                                            option.value = ciudad.id_ciudad;
                                            option.text = ciudad.ciudad;
                                            ciudadesSelect.appendChild(option);
                                        });
                                    }
                                })
                                .catch(function (error) {
                                    console.error("Error:", error);
                                });
                        });
                        var perfilesSelect = document.getElementById("perfiles");
                        fetch("/obtener_perfiles", {
                            method: "POST"
                        })
                            .then(function (response) {
                                return response.json();
                            })
                            .then(function (data) {
                                if (data.data !== null) {
                                    data.data.forEach(function (provincia) {
                                        var option = document.createElement("option");
                                        option.value = provincia.id_perfil;
                                        option.text = provincia.perfil;
                                        perfilesSelect.appendChild(option);
                                    });
                                }
                            })
                            .catch(function (error) {
                                console.error("Error:", error);
                            });
                        var table = $('#datatable').DataTable({
                            ajax: {
                                url: "/obtener_usuarios",
                                "type": "POST",
                                "dataSrc": "data",
                            },
                            bLengthChange: false,
                            info: true,
                            paging: true, columns: [
                                { data: "nombre", defaultContent: "-" },
                                { data: "usuario", defaultContent: "-" },
                                { data: "identificacion", defaultContent: "-" },
                                { data: "correo", defaultContent: "-" },
                                { data: "telefono", defaultContent: "-" },
                                { data: "provincia", defaultContent: "-" },
                                { data: "ciudad", defaultContent: "-" },
                                { data: "direccion", defaultContent: "-" },
                                { data: "perfil", defaultContent: "-" },
                            ],
                            columnDefs: [
                                {
                                    targets: "_all",
                                    className: "dt-center",
                                },
                                {
                                    targets: 9,
                                    render: function (data, type, row, meta) {
                                        var data = table.row(meta.row).data();
                                        var dataAsString = JSON.stringify(data);
                                        return `<div class="d-flex flex-row mb-3"><button type="button" class="btn btn-primary btn-sm m-1" data-nombre="${data.nombre ?? ""}" data-usuario="${data.usuario ?? ''}" data-identificacion="${data.identificacion ?? ''}" data-correo="${data.correo ?? ''}" data-direccion="${data.direccion ?? ''}" onclick="edit(this)" title="Editar"><i class="bi bi-pencil-square"></i></i></button><button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal"  title="Eliminar"><i class="bi bi-trash"></i></button><button type="button" class="btn btn-warning text-light btn-sm m-1" data-bs-toggle="modal" data-bs-target="#cambiar_contasena_modal"  title="Cambiar contraseña"><i class="bi bi-key"></i></button></div>`;
                                    }
                                }
                            ],
                            "language": {
                                "sEmptyTable": "No hay datos disponibles en la tabla",
                                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                                "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                                "sInfoFiltered": "(Filtrado de _MAX_ entradas totales)",
                                "sInfoPostFix": "",
                                "sInfoThousands": ",",
                                "sLengthMenu": "Mostrar _MENU_ entradas",
                                "sLoadingRecords": "Cargando...",
                                "sProcessing": "Procesando...",
                                "sSearch": "Buscar:",
                                "sZeroRecords": "No se encontraron resultados",
                                "oPaginate": {
                                    "sFirst": "Primero",
                                    "sLast": "Último",
                                    "sNext": "Siguiente",
                                    "sPrevious": "Anterior"
                                },
                                "oAria": {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                "buttons": {
                                    "copy": "Copiar",
                                    "colvis": "Visibilidad"
                                }
                            }
                        });
                        $("#datatable_filter").hide();
                        $('#search').keyup(function () {
                            table = $('.tablesort').DataTable();
                            table.search($(this).val()).draw();
                        });
                        $('#actualizar').click(async function () {
                            await table.ajax.reload()
                        });
                    });
                    function edit(button) {
                        var nombre = button.getAttribute('data-nombre');
                        var usuario = button.getAttribute('data-usuario');
                        var identificacion = button.getAttribute('data-identificacion');
                        var correo = button.getAttribute('data-correo');
                        var direccion = button.getAttribute('data-direccion');
                        $("#nombre").val(nombre);
                        $("#usuario").val(usuario);
                        $("#identificacion").val(identificacion);
                        $("#correo").val(correo);
                        $("#direccion").val(direccion);
                        $('#editModal').modal('show');
                    }
                    function calculardesc() {
                        var desc = $('#descuento').val();
                        var precio = $('#precio').val();
                        $('#preciodesc').val(parseFloat(precio - (precio * (desc / 100))).toFixed(2));
                    }

                    function calculartotal() {
                        var cantidad = $('#cantidad').val();
                        var precio = $('#precio').val();
                        $('#total').val(parseFloat(cantidad * precio).toFixed(2));
                    }
                    function limit(input) {
                        if (input.id === "descuento") {
                            input.value = input.value.replace(/^0+/, '');
                            if (input.value === '') {
                                input.value = 0;
                            }
                            if (input.value > 100) {
                                input.value = 100;
                            }
                        } else if (input.id === "cantidad") {
                            input.value = input.value.replace(/^0+/, '');
                            if (input.value === '') {
                                input.value = 0;
                            }
                        }
                    }
                </script>

</body>

</html>