<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Validar cuenta </title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
  </head>

<body>
    <% if (type==="error" ) { %>
        <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center pt-4">
                                        <a href="/admin" class="logo d-flex align-items-center w-auto">
                                            <img src="/img/logo.png" alt="">
                                            <span class="d-none d-lg-block text-uppercase">Consultagro S.A</span>
                                        </a>
                                    </div>
                                    <div class="pt-4 pb-2 text-center">
                                        <i class="bi bi-x-circle text-success" style="font-size: 100px;"></i>
                                        <h5 class="card-title text-center pb-0 fs-4">Error al validar la cuenta</h5>
                                    </div>
                                    <div class="col-12">
                                        <a class="btn btn-primary w-100" href="/">Ir al inicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <% } else if (type==="success" ) { %>
            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center pt-4">
                                        <a href="/admin" class="logo d-flex align-items-center w-auto">
                                            <img src="/img/logo.png" alt="">
                                            <span class="d-none d-lg-block text-uppercase">Consultagro S.A</span>
                                        </a>
                                    </div>
                                    <div class="pt-4 pb-2 text-center">
                                        <i class="bi bi-check-circle text-success" style="font-size: 100px;"></i>
                                        <h5 class="card-title text-center pb-0 fs-4">Cuenta validada exitosamente</h5>
                                    </div>
                                    <div class="col-12">
                                        <a class="btn btn-primary w-100" href="/">Ir al inicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% } %>
</body>

</html>