<!DOCTYPE html>
<html lang="en">
<style>
    html {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    label::after {
        background-color: transparent !important;
    }

    .content-elements::-webkit-scrollbar {
        width: 12px;
        border: #59ab6e;
    }

    .content-elements::-webkit-scrollbar-track {
        border: none;
        border-radius: 5px;
    }

    .content-elements::-webkit-scrollbar-thumb {
        background: #59ab6e;
        border-radius: 5px;
    }

    .content-elements::-webkit-scrollbar-thumb:hover {
        background: #336840;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo align-self-start text-uppercase" href="">
            <img data-src="/img/logo.png" src="/img/logo.png" width="50"> Consultagro S.A
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/acerca"><i class="bi bi-question-circle-fill"></i> Acerca de
                            nosotros</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/"><i class="bi bi-bag-fill"></i>
                            Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactanos"><i class="bi bi-telephone-fill"></i> Contactanos</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <% if (credentials) { %>
                    <li class="nav-item ">
                        <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#Cart">
                            <i class="bi bi-cart-fill"></i>Carrito
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="" class="nav-link dropdown-toggle" id="dropdown" data-bs-toggle="dropdown">
                                <i class="bi bi-person-circle"></i>
                                <%= credentials.nombre %>
                            </a>
                            <ul class="dropdown-menu text-small m-1 bg-body-tertiary" aria-labelledby="dropdown">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-gear"></i> Configuración</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-bag"></i> Mis pedidos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-person"></i> Mi Perfil
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="" data-bs-toggle="modal"
                                        data-bs-target="#logoutModal"><i class="bi bi-box-arrow-right"></i> Cerrar
                                        sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#login"><i
                                    class="bi bi-person-fill"></i> Iniciar
                                sesión</>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Iniciar Sesión</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Registrate</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="card border-0">
                            <div class="card-body">
                                <form id="loginForm">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="usuario" placeholder=" " required>
                                        <label style="color: #59ab6e;" for="usuario"><i class="bi bi-person"></i>
                                            Usuario</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="password" placeholder=" "
                                            required>
                                        <label style="color: #59ab6e;" for="password"><i class="bi bi-key"></i>
                                            Contraseña</label>
                                    </div>
                                    <div class="form-check form-switch mb-3 ms-2">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="flexSwitchCheckChecked" onchange="showpasswordLogin()">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Mostrar
                                            contraseña</label>
                                    </div>
                                    <div class="d-grid mx-auto"><button class="btn btn-primary" type="submit">Iniciar
                                            Sesión</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                        <form id="registrarForm">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder=" " required>
                                <label style="color: #59ab6e;" for="nombre"><i class="bi bi-person"></i> Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="usuario-nuevo" placeholder=" " required>
                                <label style="color: #59ab6e;" for="usuario-nuevo"><i class="bi bi-person"></i>
                                    Usuario</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="identificacion" placeholder=" " required>
                                <label style="color: #59ab6e;" for="identificacion"><i class="bi bi-person-vcard"></i>
                                    Cédula/RUC</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="telefono" placeholder=" " required>
                                <label style="color: #59ab6e;" for="telefono"><i class="bi bi-telephone"></i>
                                    Teléfono</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" placeholder=" " required>
                                <label style="color: #59ab6e;" for="email"><i class="bi bi-envelope"></i> Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="provincias" required>
                                    <option value="" selected disabled>Selecciona una opción</option>
                                </select>
                                <label style="color: #59ab6e;" for="provincias">Provincias</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ciudades" required>
                                    <option value="" selected disabled>Selecciona una opción</option>
                                </select>
                                <label style="color: #59ab6e;" for="ciudades">Ciudades</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="direccion" placeholder=" " required>
                                <label style="color: #59ab6e;" for="direccion"><i class="bi bi-signpost-2"></i>
                                    Dirección</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password-nuevo" placeholder=" "
                                    required>
                                <label style="color: #59ab6e;" for="password-nuevo"><i class="bi bi-key"></i>
                                    Contraseña</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password-confirm" placeholder=" "
                                    required>
                                <label style="color: #59ab6e;" for="password-confirm"><i class="bi bi-key"></i> Repita
                                    su contraseña</label>
                            </div>
                            <div class="d-grid mx-auto">
                                <button class="btn btn-primary" type="submit">Registrarme</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">¿Estás seguro de que deseas cerrar sesión?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="/logoutcliente">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
<button id="ver-carrito-btn" class="btn btn-primary">Ver Carrito</button>

<div class="modal fade" id="carrito-modal" tabindex="-1" aria-labelledby="carrito-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carrito-modal-label">Carrito de Compras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="carrito-table" class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="carrito-table-body">
                        <!-- Los datos del carrito se generan dinámicamente aquí -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Obtén los datos del carrito desde la base de datos utilizando fetch
    fetch('/obtener_carrito', {
        method: 'POST',
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ id_usuario: "43" }),
    }).then(function (response) {
        return response.json();
    })
        .then(function (data) {
            console.log(data);
            if (data.data !== null) {
                carritoHtml = "";
                data.data.forEach(function (item) {
                    console.log(item);
                    carritoHtml += '<tr>';
                    carritoHtml += '<td><img src="' + item.img + '" alt=""></td>';
                    carritoHtml += '<td>' + item.nombre + '</td>';
                    carritoHtml += '<td>' + item.precio + '</td>';
                    carritoHtml += '<td>' + item.cantidad + '</td>';
                    carritoHtml += '<td>' + item.total + '</td>';
                    carritoHtml += '</tr>';
                    document.getElementById('carrito-table-body').innerHTML = carritoHtml;
                });


            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });

    // Abrir el modal del carrito al hacer clic en el botón "Ver Carrito"
    document.getElementById('ver-carrito-btn').addEventListener('click', function () {
        var carritoModal = new bootstrap.Modal(document.getElementById('carrito-modal'));
        carritoModal.show();
    });


    function showpasswordLogin() {
        var icon = document.getElementById('icon-use');
        var password = document.getElementById("password");
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }
    }
    var provinciasSelect = document.getElementById("provincias");

    fetch("/obtener_provincias", {
        method: "POST"
    })
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            if (data.data !== null) {
                data.data.forEach(function (provincia) {
                    var option = document.createElement("option");
                    option.value = provincia.id_provincia;
                    option.text = provincia.provincia;
                    provinciasSelect.appendChild(option);
                });
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    var ciudadesSelect = document.getElementById("ciudades");
    provinciasSelect.addEventListener("change", function () {
        var provinciaId = this.value;
        ciudadesSelect.innerHTML = "";
        fetch("/obtener_ciudades", {
            method: "POST",
            body: JSON.stringify({ provinciaId: provinciaId }),
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.data !== null) {
                    ciudadesSelect.innerHTML = "<option value='' selected disabled>Selecciona una opción</option>";
                    data.data.forEach(function (ciudad) {
                        var option = document.createElement("option");
                        option.value = ciudad.id_ciudad;
                        option.text = ciudad.ciudad;
                        ciudadesSelect.appendChild(option);
                    });
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
    document.getElementById("loginForm").addEventListener('submit', function (event) {
        event.preventDefault();
        var formData = new FormData();
        formData.append('usuario', document.getElementById('usuario').value);
        formData.append('password', document.getElementById('password').value);
        fetch('/validar_cliente', {
            method: 'POST',
            body: formData
        }).then(res => res.json())
            .then(element => {
                $('.modal').modal('hide');
                Swal.fire({
                    toast: true,
                    position: 'bottom-end',
                    icon: element.type,
                    title: element.message,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000
                }).then((result) => {
                    if (element.type === "success") {
                        location.reload()
                    }
                });
            });
    });

    document.getElementById("registrarForm").addEventListener('submit', function (event) {
        event.preventDefault();
        event.preventDefault();
        var formData = new FormData();
        formData.append('nombre', document.getElementById('nombre').value);
        formData.append('usuario', document.getElementById('usuario-nuevo').value);
        formData.append('identificacion', document.getElementById('identificacion').value);
        formData.append('telefono', document.getElementById('telefono').value);
        formData.append('email', document.getElementById('email').value);
        formData.append('id_ciudad', document.getElementById('ciudades').value);
        formData.append('direccion', document.getElementById('direccion').value);
        formData.append('password', document.getElementById('password-nuevo').value);
        formData.append('password-confirm', document.getElementById('password-confirm').value);
        fetch('/registrar_cliente', {
            method: 'POST',
            body: formData
        }).then(res => res.json())
            .then(element => {
                console.log(element);
                if (element.message) {
                    location.reload()
                } else {
                    Swal.fire({
                        toast: true,
                        position: 'bottom-end',
                        icon: 'error',
                        title: element.error,
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000
                    });
                }
            });
    });

</script>