<!DOCTYPE html>
<html lang="en">
<style>
    html {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo align-self-start text-uppercase" href="">
            <img src="/img/logo.png" width="50">  Consultagro S.A
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/acerca"><i class="bi bi-question-circle-fill"></i> Acerca de
                            nosotros</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/"><i class="bi bi-bag-fill"></i>
                            Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactanos"><i class="bi bi-telephone-fill"></i> Contactanos</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav">
                <% if (credentials) { %>
                    <li class="nav-item ">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#Cart">
                            <svg class="icon" width="20" height="20" fill="currentColor">
                                <use xlink:href="/icons/bootstrap-icons.svg#cart" />
                            </svg> Carrito
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="" class="nav-link dropdown-toggle" id="dropdown" data-bs-toggle="dropdown">
                                <svg class="icon" width="20" height="20" fill="currentColor">
                                    <use xlink:href="/icons/bootstrap-icons.svg#person-circle" />
                                </svg>
                                <%= credentials.nombre %>
                            </a>
                            <ul class="dropdown-menu text-small m-1 bg-body-tertiary" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">
                                        <svg class="icon" width="20" height="20" fill="currentColor">
                                            <use xlink:href="/icons/bootstrap-icons.svg#gear" />
                                        </svg> Configuración</a></li>
                                <li>
                                    <a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i> Perfil
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="" data-bs-toggle="modal"
                                        data-bs-target="#logoutModal">
                                        <svg class="icon" width="20" height="20" fill="currentColor">
                                            <use xlink:href="/icons/bootstrap-icons.svg#box-arrow-right" />
                                        </svg> Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#login"><i
                                    class="bi bi-person-fill"></i> Iniciar
                                sesión</>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>