<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/panel">
                <i class="bi bi-grid"></i>
                <span>Panel</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-file-earmark-bar-graph"></i><span>Reportes</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/kardex">
                        <span>Kardex</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Pedidos</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-boxes"></i><span>Productos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/inventario">
                        <i class="bi bi-boxes fs-6"></i>
                        <span>Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="/inventario">
                        <i class="bi bi-people fs-6"></i>
                        <span>Proveedores</span>
                    </a>
                </li>
                <li>
                    <a href="/escanear">
                        <i class="bi bi-upc-scan fs-6"></i>
                        <span>Escanear</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#seguridad" data-bs-toggle="collapse" href="#">
                <i class="bi bi-shield-lock"></i><span>Seguridad</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="seguridad" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/usuarios">
                        <i class="bi bi-people fs-6"></i>
                        <span>Gestionar usuarios</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>